.uk-subnav uk-subnav-pill{
    width: 490px;
}

#container{
    width: 500px;
    padding: 10px;
}

.abox {
    display: inline-block;
    height: 20px;
    margin: 0 10 0 10;
    border: 2px solid #73AD21;
    overflow: hidden;
}
